<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-12 text-center">
      <h1 style="font-size:100px">About</h1>
      <p style="font-size:24px;">
        ながのCAKEは全国発送可能なケーキ屋さんです。<br>
        お子様からお年寄りの方までお召し上がりいただけるよう、<br>
        様々なバリエーションをご用意しております。<br>
        また、全国へ発送可能ですので、「いつ」でも「どこ」でもご注文いただけます。<br>
        ぜひご注文ください。
      </p>
      <div>
        <%= image_tag 'nagano-cake-top2.jpg', size: "400x250" %>
      </div>
    </div>
  </div>
</div> 