<div class='container mt-4'>
  <div class='row'>
    <div class="col-7">
      <h3 class="ml-5">ジャンル編集</h3>
      <%= form_with model: @genre, url: admin_genre_path do |f| %>
        <div class="field my-5">
          <%= f.label :name, "ジャンル名", class: 'font-weight-bold mr-5' %>
          <%= f.text_field :name, placeholder: "ジャンル名", class: 'mr-5' %>
          <%= f.submit "変更を保存", class: 'btn btn-success font-weight-bold w-25' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
