@use '~bootstrap/scss/bootstrap';

.page_title {
  background-color: #ddd;
}

.admin-login {
  margin-left: 160px;
}

.customer-login {
  margin-left: 175px;
}

.session-content {
  padding-bottom: 150px;
}

.wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 100%;
  min-height: 100vh;
}