<div class="container p-3">
  <div class="row">
    <div class="col-md-12">
      <h1 style="text-align:center;">ご注文ありがとうございました</h1>
    </div>
    <div class="col-md-12 d-flex justify-content-center mt-4">
      <%= image_tag "thanks.jpg" , size: "200x200" %>
    </div>
  </div>
</div>